.dark-background {
  background-color: black;
}

.light-background {
  background-color: rgb(204, 181, 185);
}

body {
  text-align: center;
}

h1 {
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.image1 {
  float: right;
  padding: 20px;
  position: relative;
}

.image2 {
  float: right;
  padding: 20px;
}

.image3 {
  float: right;
  padding: 40px;
  margin-top: 200px;
  position: relative;
}

.sidebar {
  width: 50%;
  float: left;
  border-width: 40%;
  border: black;
  padding: 2%;
  margin: 2%;
}

.btn {
  float: right;
}